{% extends 'base_training.html' %}

{% block navbar %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">memeta</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'start_training' %}">Trainieren</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'add' %}">Karte erstellen</a>
            </li>
            {% if request.user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'profile' request.user.pk %}">Mein Profil</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}"><em>{{ request.user }} ausloggen</em></a>
              </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'register' %}">Registrieren</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
{% endblock %}